body{
    margin: 0;
    padding: 0;
    text-align: center;
    color: #f7efed;
    background: #293249;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    width: 60%;
    margin: 14px;
    margin: auto;
    margin-top: 1%;
    border: 3px solid #212122;
    background-color: #69656f;
    border-radius: 20px;
    box-shadow: 0px 15px 20px 0px rgba(0,0,0,0.5);

}

.container p{
    margin: 0 10px 0 10px;
}

.cabecera{
    display: grid;
    grid-template-columns: auto 2fr;
    background: #f7efed;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.5);
    color: #293249;
    font-weight: bold;
    margin: 8px;
    text-align: left;
    padding-left: 4px;
    border-radius: 20px;
    border: 2px solid #212122;
}

.cabecera img{
    width: 34px;
    height: 34px;
    object-fit: fill;
    padding: 12px 4px 0px 3px;
}

.post p{
    text-align: justify;
    padding: 6px;
}

.post p a img{
    display: block;
    margin: auto;
}

.footer{
    font-size: small;
    font-style: oblique;
    font-family: cursive;
}

.footer h4{
    margin: 0 6px 6px 0;
}

.agradecimientos{
    width: 60%;
    margin: auto;
    font-weight: lighter;
}